<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ obec.nazev }}</title>
</head>
<body>
<div class = "nadpis"> </div>
<img src="../../images/{{ obec.erb }}" width="100wv"/>
<h1> obec {{ obec.nazev }}</h1>
<a href={{ obec.uri }}/dokumenty>Dokumenty</a><br>
<a href={{ obec.uri }}/alba>Alba</a><br>
{#{% if request.session['id'] ==null%}#}
    <a href=/prihlas/>Přihlaš</a><br>
    <a href=/registruj/>Registruj se</a><br>
    <a href=/odhlas/>Odhlásit se</a><br>
{#{% endif %}#}
</body>
</html>
